html, body, footer, ul, nav{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Lato', sans-serif;
    text-align: center;

}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

header{
    padding: 0;
    margin: 0;
    background: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    list-style-type: none;
}

footer{
    width: 100%;
    background: yellow;
}

#homeLogo{
    background-image: url('/img/chip.svg');
    width: 3em;
    height: 3em;
    margin: 2em;
    cursor: pointer;
}



#topNavigation{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

#topNavigation > ul{
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#topNavigation >ul> li{
    width: 5em;
    text-align: center;
    padding: 2em;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    transition-duration: 500ms;
}

#topNavigation >ul> li:hover{
    background: lightblue;
}

#headerCover{
    height: 50em;
    width: 100%;
    background: lightblue url('/img/dims.jpeg') no-repeat;
    background-size: cover;

}

.welcome{
    position: relative;
    top: 7rem;
    font-size: 2em;
    color: white;
    text-align: center;
}

#welcomeHead{
    font-size:5em;
}

#colorLayer{
    position: relative;
    left: 0;
    width: 100%;
    height: 50em;
    background-color: rgba(66,135,245, 0.3);
}

#about{
    background-color: lightgrey;
    min-height: 40em;
    padding: 2em 15em;
}

#AI{
    background-color: white;
    width: 100%;
    text-align: center;
    margin:2em auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    align-items: center;
}

#AI > ul{
    display: grid;
    grid-template-columns: repeat(4,15rem);
    grid-template-rows: repeat(1, 15rem);
    width: fit-content;
    height: auto;
    justify-content: center;
    grid-gap: 1em;
}

#AI > ul > li{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: black;
    cursor: pointer;
}

#create{
    margin: auto;
    display: none;
}

#filter{
    margin: auto;
}

#filter > ul{
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: row;
}

#searchbar{
    border: 1px solid black;
    border-radius: 0.4em;
    padding: 0.1em 0.5em;
    vertical-align: middle;
    display: flex;
    margin: auto;
}

#searchInput{
    border: none;
    margin: auto;
}

#test{
    display: inline;
    margin: auto;
    border: none;
}

#test > img{
    height: 1.2rem;
    cursor: pointer;
    margin: auto;

}

#test:hover{
    height: 100%;
}

#bottomNavigation > ul > li{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

#footer{
    background-color: lightgray;
    margin: 0;
    padding: 2em 0;
    height: 100%;
    width: 100%;
}